.head-picture {
  float: left;
  width: 300px;
}

.head-picture img {
  display: block;
  width: 200px;
  border-radius: 6px;
}

.head {
  margin-top: 20px;
  overflow:auto;
}

.head-contact {
  padding: 5px;

}

.head-contact h1 {
  margin-top: 5px;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.bio {
  padding-top: 40px;
}

.social {
}

.github {
  margin-left: 5px;
}

.twitter {
  margin-left: 30px;
}

.publications {
  margin-top: 40px;
}

.last-update {
  margin-top: 60px;
  font-size: small;
}
