.head-picture {
  float: left;
  width: 300px;
}

.head-picture img {
  display: block;
  width: 250px;
}

.head {
  margin-top: 20px;
  overflow:auto;
}

.head-contact {
  padding: 10px;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.bio {
  padding-top: 30px;
}
